<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Signin - RandomMathSite</title>
<link href="css/singlePageTemplate.css" rel="stylesheet" type="text/css">
<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
</head>

<body>
<div class="container">
	<header> <a href="http://localhost:8080/home">
    <h4 class="logo">RANDOMMATHSITE</h4>
    </a>
  </header>
	
  <section class="hero">
	<table width="200" align="center">
  <tbody>
    <tr>
      <td><p style="color: whitesmoke">Email:</p></td>
      <td><input type="email"></td>
    </tr>
    <tr>
      <td><p style="color: whitesmoke">Password:</p></td>
      <td><input type="password"></td>
    </tr>
  </tbody>
</table><table width="400" align="center">
  <tbody>
    <tr>
      <td><div class="button">SIGN IN</div></td>
      <td><div class="button">SIGN UP</div></td>
    </tr>
  </tbody>
</table>

	</section>
</div>
</body>
</html>
